Presentation/Wfm.Web/Administration/Service References/ClientServiceReference/WfmService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:3630/WfmService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServices" />
  <xs:element name="PingWfmService">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PingWfmServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PingWfmServiceResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMassEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SentBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FranchiseId" type="xs:int" />
        <xs:element minOccurs="0" name="SelectedIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="targetType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="From" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FromName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Subject" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MessageCategoryId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendMassMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SelectedIds" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Body" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="From" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountUsername" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="accountPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServices" minOccurs="0" name="AuthenticateUserResult" nillable="true" type="q1:AuthenticationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RefreshSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServices" minOccurs="0" name="RefreshSessionResult" nillable="true" type="q2:AuthenticationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogOutResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendPasswordResetMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendPasswordResetMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendPasswordResetMessageResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDailyTimeSheet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="submittedOnly" type="xs:boolean" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="sortBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sortOrder" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterCondition" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDailyTimeSheetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServices" minOccurs="0" name="GetDailyTimeSheetResult" nillable="true" type="q3:PagedListResultOfTimeSheetHpUzpNkN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeTimeSheetHistoryByDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="start" type="xs:dateTime" />
        <xs:element minOccurs="0" name="end" type="xs:dateTime" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="sortBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sortOrder" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterCondition" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeTimeSheetHistoryByDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfServices" minOccurs="0" name="GetEmployeeTimeSheetHistoryByDateResult" nillable="true" type="q4:PagedListResultOfSimpleEmployeeTimeChartHistorymfZTS4bC" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeSheetForApproval">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="weekStartDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="submittedOnly" type="xs:boolean" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element minOccurs="0" name="pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="sortBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sortOrder" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterBy" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterCondition" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeSheetForApprovalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfServices" minOccurs="0" name="GetTimeSheetForApprovalResult" nillable="true" type="q5:PagedListResultOfTimeSheetHpUzpNkN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTimeSheet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SessionId" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfServices" minOccurs="0" name="candidateTimeSheet" nillable="true" type="q6:TimeSheet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTimeSheetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfServices" minOccurs="0" name="UpdateTimeSheetResult" nillable="true" type="q7:TimeSheetOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApproveTimeSheet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfServices" minOccurs="0" name="input" nillable="true" type="q8:TimeSheetAndSession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApproveTimeSheetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WcfServices" minOccurs="0" name="ApproveTimeSheetResult" nillable="true" type="q9:TimeSheetOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApproveTimeSheets">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WcfServices" minOccurs="0" name="timeSheets" nillable="true" type="q10:ArrayOfTimeSheetSlim" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApproveTimeSheetsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WcfServices" minOccurs="0" name="ApproveTimeSheetsResult" nillable="true" type="q11:PagedListResultOfTimeSheetHpUzpNkN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectTimeSheet">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WcfServices" minOccurs="0" name="input" nillable="true" type="q12:TimeSheetAndSession" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RejectTimeSheetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WcfServices" minOccurs="0" name="RejectTimeSheetResult" nillable="true" type="q13:TimeSheetOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCandidateWorkTime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sessionId" nillable="true" type="xs:string" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WcfServices" minOccurs="0" name="workTime" nillable="true" type="q14:WorkTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCandidateWorkTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WcfServices" minOccurs="0" name="AddCandidateWorkTimeResult" nillable="true" type="q15:TimeSheetOperationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>